$header: #090e1d;

$pink: #3a0648;
$pink-light: #c93dee;

$deep-pink: #c02fbb;
$deep-pink-light: #e8a0e5;

$blue: #3b59a1;
$blue-light: #758fcd;

$brown: #f75000;
$brown-light: #ffa980;

$green: #318e00;
$green-light: #89ff4a;

$paste: #96f7d2;

$fb: #3b59a1;
$fb-light: #4f6aab;
$twt: #46b0e4;
$twt-light: #59b8e7;
$gplus: #dd4c39;
$gplus-light: #e05e4d;
$yut: #d71e17;
$yut-light: #db352f;
$ins: #8a3ab9;
$ins-light: #964ec0;
$drb: #4c75a3;
$drb-light: #5e83ac;

$white: #fff;
$black: #000;
$grey: #999;
$grey-light: #ddd;

$shadow-light: 0px 0px 3.5rem 1px rgba(247, 247, 247, 1);
